@import "reset.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
h1 {
  color: #009688;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
}

h2 {
  white-space: nowrap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  text-transform: uppercase;
  color: #00796b;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
}
h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #ffffff;
  text-transform: uppercase;
}
.wrapper {
  background-color: #dedede;
}
.header {
  background-color: rgba(0, 121, 107, 1);

  min-height: 144px;
  margin-bottom: 40px;
 
}

.container {
  max-width: 1160px;
  margin: auto;
}
.line__container {
  width: 100%;
  align-items: center;
}
.line__main {
  background: #d9d9d9;
  border: 1.5px solid #ffffff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
  height: 0px;
  border-radius: 2px solid;
  margin-top: 12px;
  margin-left: 30px;
}
.header-row {
  display: flex;
  justify-content: space-between;
}
.logo {
  margin-top: 22px;
  margin-bottom: 15px;
}
.logo-img {
  width: 79px;
  height: 107px;
}
.logo-text {
  width: 195px;
  padding-bottom: 4px;
}
/* прибил вправо */
.navbar-right {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 49px;
  padding-right: 5px;
}
.navbar-list {
  display: flex;
}
.submenu {
  margin-left: -21px;
  margin-top: 17px;
  max-width: 200px;
  position: absolute;
  z-index: 5;
  transform-origin: 0 0;
  transform: rotateX(-90deg);
  transition: 0.3s linear;
  visibility: hidden;
  opacity: 0;
}
.submenu li {
  position: relative;
}
.navbar-list li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  transform: rotateX(0deg);
}
.navbar-list__item-a {
  text-decoration: none;
  color: #d9d9d9;
  padding: 15px 30px;
  display: inline-block;
}

.submenu a {
  border-bottom: 1px solid #000;
  padding: 10px 20px;
  background-color: rgba(0, 121, 107, 1);
  font-size: 16px;
  display: block;
}
.navbar-burger {
  width: 34px;
    height: 38px;
  display: none;
}
.navbar-list__item {
  text-transform: uppercase;
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
}
.navbar-list li{
  text-transform: uppercase;
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
}
.navbar-list__item:not(:last-child) {
  padding-right: 24px;
}

.menu-socials {
  margin-bottom: 24px;
  display: flex;

  align-items: center;
}
.social-contacts__img:not(:last-child) {
  padding-right: 16px;

  /* display: block;
  width: 25px; */
}
.social-contacts__img {
  width: 19px;
  height: 24px;
}
.social-tel {
  padding-left: 29px;

  display: flex;
}
.social-tel a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: "Montserrat";
  font-weight: bold;
}

.social-tel__img-tel {
  display: block;
  width: 25px;
  margin-right: 8px;
}
.socil-tel-conteiner {
  display: flex;
  flex-direction: column;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 1);
}
/* Main----------------------------------------------- */
.line {
  background: #d9d9d9;
  border: 1.5px solid #ffffff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
  height: 0px;
  border-radius: 2px solid;
  margin-bottom: 40px;
}

.headline {
  display: flex;
  justify-content: space-between;
  min-width: 0;
  margin-bottom: 60px;
}
.about {
  width: 460px;
  color: rgba(51, 79, 76, 1);
}
.about__us {
  margin-bottom: 5px;
}
.about p {
  /* display: block;
  max-width: 460px; */
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
}
.about .accentuated {
  color: inherit;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.accentuated {
  font-size: 32px;
  line-height: 140%;
  color: #334f4c;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 5px;
}
p {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #334f4c;
  letter-spacing: 0;
}
.select {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  width: 260px;
  height: 60px;
  margin-top: 10px;
  background: #ffc107;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

/* Main-slider----------------------- */
.swiper {
  max-width: 560px;
  height: 586px;
  border-radius: 5px;
}
.slider {
  margin-bottom: 60px;
}
.swiper-button-prev:after {
  color: #ffc107;
}
.swiper-button-next:after {
  color: #ffc107;
}
.swiper-pagination-bullet-active {
  background: #ffc107 !important;
}

/* Main-deal------------------------- */
.deals__headline {
  display: flex;
  margin-bottom: 30px;
}
.deals {
  margin-bottom: 52px;
}

.deals__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 395px;
  background: #ffffff;
}

.deals__items-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-deals {
  padding: 1%;
  width: 100%;
  height: 100%; /* display: block;
  position: relative; */
}
.gallery-vertical {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #334f4c;
  display: block;
  /* display: block;
  position: absolute; */
}
.button {
  margin: 0 8px 0 16px;
}
.deal__link {
  display: flex;
  justify-content: end;
  margin: 0 8px 8px 0;
}
.deals__item {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.deal__link-item img {
  width: 22px;
}
.deals__items-list_top {
  margin-bottom: 30px;
}
/* слайдер inner--------------- */
.inner {
  display: flex;
  position: relative;
}
.gallary {
  display: flex;
  width: 100%;
  height: 586px;
  border-radius: 5px;
  overflow: hidden;
}
.swiper-wrapper {
  display: flex;
  justify-content: space-between;
}
.foto-slide {
  padding: 10px;
}
.foto-slide img {
  max-width: 100%;
  width: auto;
  height: auto;
  border-radius: 5px;
  background: #ffc107;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
  padding: 15px;
  background-color: #ffffff;
}
/* installation--------------- */
.installation-list {
  display: flex;
  justify-content: space-between;
}
.installation {
  margin-bottom: 60px;
}
.installation__img {
  width: 460px;
  min-height: 510px;
  position: relative;
}
.installation__img img {
  background-color: #ffffff;
  width: 100%;
  padding: 15px;
  min-height: 515px;
  border-radius: 5px;
}
.installation-about {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.installation-about p {
  color: #334f4c;
  max-width: 660px;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  padding: 0 5px 0 5px;
  max-width: 660px;
  padding-bottom: 248px;
  /* max-height: 580px; */
  /* flex: 1 1 660px; */
}
.installation_link {
  display: flex;
  align-items: center;
}
.installation_link a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #334f4c;
}
.installation_link img {
  margin-bottom: -4px;
  margin-left: 16px;
}
/* production наследует от installation--------------- */
.production-list {
  display: flex;
  justify-content: space-between;
}
.production {
  margin-bottom: 60px;
}
.modeling-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 946px;
  height: auto;

  margin: auto;
  background-color: #ffffff;
  margin-bottom: 60px;
}
.production-about p {
  color: #334f4c;
  max-width: 660px;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  padding: 0 5px 0 5px;
  max-width: 660px;
  padding-bottom: 168px;
}
.production__img img {
  background-color: #ffffff;
  width: 100%;
  padding: 15px;
  min-height: 515px;
  border-radius: 5px;
}
/* 3d-------------------------- */

.modeling-conteiner slider {
  position: relative;
}
.swiper-slide__window {
  width: 1200px;
  position: relative;
}
.video__item {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* granite------------ */
.granite-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px 40px;
  margin-bottom: 62px;
}
.granite {
  margin-bottom: 40px;
}
.granite__item {
  width: 200px;
  height: 200px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
  border-radius: 5px;
}
.granite-link {
  margin-right: 5px;
}
.granit-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}
/* footer---------------------------- */
.footer {
  background: #032521;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

.footer__inner {
  padding-top: 40px;
}
.footer__info {
  padding-bottom: 20px;
}
.footer__info h3 {
  padding-bottom: 10px;
}
.footer__info p {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.footer__contacts {
  max-width: 348px;
}
.footer__contacts-list {
  margin-bottom: 28px;
}
.footer__contact-item {
  display: flex;
}
.footer__contact-item img {
  padding-right: 10px;
}
.footer__contacts h3 {
  padding-bottom: 10px;
}
.footer__contact-item p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 10px;
}
.footer__socials {
  display: flex;
  margin-bottom: 55px;
}
.footer__mail {
  padding: 0 10px;
}
.footer__mail p {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
}
.footer__social-tel {
  margin-bottom: 19px;
}
.footer__social-tel .social-tel {
  padding-left: 0px;
}

.footer__rights {
  text-align: end;
}
.footer__rights p {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
}
.footer__map {
  width: 660px;
  height: 485px;
  padding-top: 40px;
}
.footer__navbar-list__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.footer-buttom {
  display: flex;
  justify-content: space-between;
}
/* media------------- */
@media (max-width: 1200px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }
  .headline {
    flex-direction: column;
    align-items: center;
  }
  .navbar {
    display: none;
  }
  .navbar-burger {
    display: block;
    position: relative;
  }
  .header-row {
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about {
    margin-bottom: 60px;
  }

  .granite-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .installation__img {
    display: none;
  }
  /* .installation-about p {
    max-height: 420px;
  } */
  .installation-about__list {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .production-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 719px) {
  h2 {
    white-space: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
  }
  .container {
    max-width: 360px;
    margin: 0 auto;
  }
  
  .logo {
    width: 144px;
  }
  .social-tel {
    margin-bottom: 5px;
  }
  .social-tel a {
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
  }
  .social-tel__img-tel {
    display: none;
  }
  .social-contacts__img {
    width: 19px;
    height: 24px;
  }
  .navbar-right {
    display: flex;
    /* flex-direction: column; */
    align-items: end;
    /* padding-top: 49px; */
    padding-right: 5px;
    justify-content: space-between;
    flex-direction: unset;
  }
  .logo {
    margin: 0;
    padding: 0;
  }
  .logo-img {
    width: 43px;
    height: 60px;
  }
  .logo-text {
    width: 101px;
    padding-bottom: 4px;
  }
  .menu-socials {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  .social-contacts__img:not(:last-child) {
    padding-right: 5px;
  }
  .social-contacts__img img {
    width: 19px;
  }
  .social-contacts__img.map img {
    width: 17px;
    height: 19px;
  }
  .social-contacts__img.mail img {
    width: 20px;
    height: 17px;
  }
  .navbar-burger {
    padding-left: 18px;
    padding-bottom: 31px;
    z-index: 3;
  }
  .navbar-burger img {
    width: 34px;
    height: 38px;
  }
  /* burger------------------------------- */
  .navbar-burger.active{
    top: 9px;
    right: 10%;
    display: block;
    position: absolute;
  }
  .navbar-burger img{
    /* position: absolute;
    left: 0;
    top: 9px;
    width: 100%; */
  }
  .navbar{
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #009688;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .navbar.active{
    top: 0;
  }
  .navbar-list{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 15px;
    position: relative;
    z-index: 2;
    margin-top: 50px;
  }
   .navbar-list__item {
    margin: 10px 0;
  }
  .navbar-list__item-a {
    text-decoration: none;
    color: #d9d9d9;
    padding: 15px 30px;
    display: inline-block;
  }
  .submenu {
  margin-left: -21px;
  margin-top: -1px;
  max-width: 200px;
  position: absolute;
  z-index: 5;
  transform-origin: 0 0;
  transform: rotateX(-90deg);
  transition: 0.3s linear;
  visibility: hidden;
  opacity: 0;
}
.navbar-list__item:not(:last-child) {
 padding: 0;
}
  /*about ----------- */
  .about p {
    font-weight: 500;
    font-size: 16px;
    word-wrap: break-word;
  }
  .about .accentuated {
    white-space: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    word-wrap: break-word;
  }
  .about h1 {
    white-space: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
  }
  .about h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
  }
  .about {
    white-space: normal;
    width: 360px;
  }
  .installation-about {
    margin-bottom: 22px;
  }
  .slider {
    width: 360px;
  }
  .swiper {
    max-width: 560px;
    height: 379px;
    border-radius: 5px;
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
  }
  .deals__items-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .deals__item {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .gallary {
    height: 320px;
  }
  .deals__container-item h2 {
    white-space: nowrap;
  }
  .installation__img {
    display: none;
  }
  .installation-about__list {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .installation-about p {
    padding-bottom: 5px;
  }
  .production-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .granite-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .granite-wrapper {
    grid-gap: 20px 20px;
  }

  .granite__item {
    width: 170px;
    height: 170px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
    border-radius: 5px;
  }
  .deals__container-item h2 {
    white-space: normal;
  }
  .footer-row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .footer__map {
    width: 360px;
    height: 538px;
    padding-top: 40px;
  }
  .footer__rights {
    margin-top: 47px;
  }
  .footer__navbar-list__item{
    z-index: 0
    ;
  }
}
